﻿@page
@model prueba_dev.Pages.Empleados.Create
@{
}

<h1>Hello world</h1>

<div class="container">


    <form method="post">
        <input type="hidden" asp-for="Empleado.IdEmpleado" />

        <div class="row m-lg-3">
            <div class="col">
                <label asp-for="Empleado.Nombre"></label>
                <input asp-for="Empleado.Nombre" class="form-control" />
                <span class="text-danger" asp-validation-for="Empleado.Nombre"></span>
            </div>
            <div class="col">
                <label asp-for="Empleado.Apellido"></label>
                <input asp-for="Empleado.Apellido" class="form-control" />
                <span class="text-danger" asp-validation-for="Empleado.Apellido"></span>
            </div>
        </div>

        <div class="row m-lg-3">
            <div class="col">
                <label asp-for="Empleado.Dpi"></label>
                <input asp-for="Empleado.Dpi" class="form-control" />
                <span class="text-danger" asp-validation-for="Empleado.Dpi"></span>
            </div>
            <div class="col">
                <label asp-for="Empleado.Telefono"></label>
                <input asp-for="Empleado.Telefono" class="form-control" />
                <span class="text-danger" asp-validation-for="Empleado.Telefono"></span>
            </div>
        </div>

        @*<div class="row m-lg-3">
                <div class="col-lg-6">
                    <label asp-for="Propietario.FkIdTipoPropietario"></label>
                    <select class="form-control" asp-for="Propietario.FkIdTipoPropietario"
                            asp-items="Model.TiposPropietario"></select>
                    <span class="text-danger" asp-validation-for="Propietario.FkIdTipoPropietario"></span>
                </div>
            </div>*@

        <div class="row m-lg-3">
            <div class="col-lg-6">
                <button type="submit" class="btn btn-primary ">Guardar</button>
            </div>
        </div>
    </form>

</div>