﻿@page
@{
}
@model prueba_dev.Pages.Empleados.IndexModel


<a class="btn btn-primary" href="/empleados/create"> Nuevo</a>

<table class="table table-bordered table-hove">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre Y Apellido</th>
            <th>DPI</th>
            <th>Telefono</th>
            <th>Dirección</th>
            <th>Fecha ingreso</th>
            <th class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 0;}
        @foreach (var item in Model.Empleados)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Nombre, @item.Apellido</td>
                <td>@item.Dpi</td>
                <td>@item.Telefono</td>
                <td>@item.Direccion</td>
                <td>@item.FechaIngreso</td>
                <td class="text-center">
                    <a class="btn btn-sm btn-outline-warning"
                       asp-page="./Edit"
                       asp-route-usuarioId="@item.IdEmpleado">
                        Editar
                    </a>
                    <a class="btn btn-sm btn-outline-danger"
                       asp-page="./Delete"
                       asp-route-usuarioId="@item.IdEmpleado">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>